@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cuzknothz;
  src: url(../fonts/602d0d76ac6fe41e789e0053_august-bold.a0aa25b6.woff2);
}

@font-face {
  font-family: timmons;
  src: url(../fonts/TIMMONS_NY_FINAL.woff2);
}

@font-face {
  font-family: gt-cinetype;
  src: url(../fonts/GT-Cinetype-Bold.woff2);
}
